# Python ka chilla with baba Amaar
## How to use jupiter notebook
### Basic of python
### **01- My first program**

In [1]:
print(2+3)
print("Hello Usama")
print("Learning python with Amaar baba")

5
Hello Usama
Learning python with Amaar baba

### **02- Operators**

In [2]:
print(2+3)
print(3-1)
print(13%2)
print(6/4)
print(6//4)
print(2**3)
print(2**3+2-3)
print(3**2/2+3*(1-23))

5
2
1
1.5
1
8
7
-61.5

*PEMDAS
Parenthesis Exponents Multiplication Divion Addition Substraction
For AS & MD we execute from left to right*

### **03- Strings**

In [3]:
print("Hello World")
print("we are learning with Amaar")
print('Single quotes')
print("Double qoutes")
print('''Triple qoutes''')
# Coma add space
print("what's up","Hello")
# concatination operater do not add space
print("what's up"+"Hello")

Hello World
we are learning with Amaar
Single quotes
Double qoutes
Triple qoutes
what's up Hello
what's upHello

### **04- Comments**
The shortcut key to comment is ctrl+/

In [4]:
# print("Comment this")
print("This is not comment")

This is not comment

### **05- Variables**

In [5]:
# variables
x=5
print(x)

y="We are learning python"
print(y)

x=17
print(x)

x=x+12
print(x)

print(type(x))
print(type(str(x)))

print(x, type(x))
print(y,type(y))

fruit_basket= "mangoes,Oranges"
# del fruit_basket,                        Delete variable above varialbe
print(fruit_basket, type(fruit_basket))
# del fruit_basket

5
We are learning python
17
29
<class 'int'>
<class 'str'>
29 <class 'int'>
We are learning python <class 'str'>
mangoes,Oranges <class 'str'>

### **06- Input Functions**

In [6]:
# fruit_basket= "Mangoes"
# print(fruit_basket)

# Input Function 1st stage


# Input Function 2nd Stage
# name= input("What is your name? ")
# greatings= " Hello!"
# print(greatings, name)

name= input("What is your name? ")
age = input("what is your age? ")
greatings= "Hello!"
print(greatings, name, "You are still young")

What is your name? Usama
what is your age? 18
Hello! Usama You are still young

### **07- Conditional logics**

In [7]:
# equal to ==
# not equal t0 !=
# less then <
# greater then >

# print(4==4)
# print(4<=4)
# print(4!=4)
# print(3<6)
# print(5>=6)

# Application of logical operators
# azaan_age =4
# age_at_school=5
# print(azaan_age==age_at_school)

# input function and operator
age_at_school = 5
azaan_age=input("What is azaan age? ")
azaan_age=int(azaan_age)
print(type(azaan_age))
print(azaan_age== age_at_school)

What is azaan age? 5
<class 'int'>
True

### **08- type conversion**

In [8]:
x=10
y=10.5
z="hello"

# implicit type conversion
x=x+y
print(x, " type of x is: ",type(x))
# print(type(y))
# print(type(z))

# explicit type conversion
age= input("What is your age? ")
# age= int(age)
print(age, type(int(age)))

20.5  type of x is:  <class 'float'>
What is your age? 20
20 <class 'int'>

### **09- if_else_elif**

In [9]:
required_age_at_school=5
azaan_age=9


if required_age_at_school==azaan_age:
    print("Azaan can go to school")
# elif azaan_age<10:
#     print("Azaan cannot go to school")
elif azaan_age>required_age_at_school:
    print("Hammad should join higher secondary school")
elif azaan_age==2:
    print("He is baby")
else:
    print("Hammad cannot go to school")

Hammad should join higher secondary school

### **10- Functions**

In [10]:
# Define a functions

# 1

def print_usama():
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")

print_usama()

# 2

def print_name():

    data ="Usama Nadeem"
    print(data)
    print(data)

print_name()

# 3

def print_stage(data):
    print(data)
    print(data)
    print(data)
print_stage("We are learning")

def calculator(age):
    if age==5:
        print("Hammad can join school")
    elif age>5:
        print("Hammad should go to higher school")
    else:
        print("Hammad is still a baby")
calculator(4)

def future_age(age):
    new_age=age+20
    return new_age
print(future_age(5))
# future_predicted_age= future_age(18)
# print(future_predicted_age)

Hello
Hello
Hello
Hello
Usama Nadeem
Usama Nadeem
We are learning
We are learning
We are learning
Hammad is still a baby
25

### **11- Loops**

In [11]:
# While Loop

x=0
while(x<5):
    print(x)
    x=x+1
    
# for loop

# for x in range(4,11):
#     print(x)
# for x in range(3,7):
#     print(x)

# array
days= ["Mon", "Tue", "Wed", "Thu", "Fri","Sat","Sun"]
for i in days:
    if(i=="Fri"): 
        # break
        continue  
    print(i)

0
1
2
3
4
Mon
Tue
Wed
Thu
Sat
Sun

### **12- Import libraries**

In [12]:
import imp
import math
print("The value of pi is ",math.pi)

import statistics
x=[100,200,300,400,500]
print(statistics.mean(x))

# numpy, pandas

The value of pi is  3.141592653589793
300

### **13- Trouble shooting**

In [13]:
# Syntax Error
# print(how are you)
# inverted comas should be added

# Runtime Error
print(25/0)

ZeroDivisionError: division by zero