In [1]:
a="Samosa pakora"
a

'Samosa pakora'

In [2]:
a

'Samosa pakora'

In [3]:
a[0]

'S'

In [4]:
a[3]

'o'

In [5]:
a[7]

'p'

In [6]:
a[6]

' '

In [7]:
a[0:5]

'Samos'

In [8]:
a[-1:-5]

''

In [9]:
a[-5:-1]

'akor'

In [10]:
a[-6:-1]

'pakor'

In [11]:
a[-6:13]

'pakora'

In [12]:
a[0:13
 ]

'Samosa pakora'

In [13]:
a[0:12]

'Samosa pakor'

In [14]:
len(a)

13

## String Methods

In [15]:
food="biryani"
food

'biryani'

In [16]:
# Capitalize
food.capitalize()

'Biryani'

In [17]:
# Upper case
food.upper()

'BIRYANI'

In [18]:
# lower case
food.lower()

'biryani'

In [19]:
# length of string
len(food)

7

In [20]:
# Replace letters
food.replace("b", "Sh")

'Shiryani'

In [21]:
# Count a specific aphabet in string
name= "My name is Usama and i am learning Python with baba Amaaru"
name

'My name is Usama and i am learning Python with baba Amaaru'

In [22]:
name.count("a")

10

In [23]:
name.count("A")

1

In [24]:
name.count("u")

1

In [25]:
name.count("U")

1

## Finding an index number in string

In [26]:
x="My name is Usama and Python is fav language"
x

'My name is Usama and Python is fav language'

In [27]:
# find index of alphabet
x.find("P")

21

In [28]:
# how to split a string
food="I love biryani, raita, karhai and kabab"
food

'I love biryani, raita, karhai and kabab'

In [29]:
food.split("a")

['I love biry', 'ni, r', 'it', ', k', 'rh', 'i ', 'nd k', 'b', 'b']

# Basic Data Structure in python
1-Tuple

2-Lists

3-Dictionaries

4-Set

## 1- Tuple

In [30]:
tup1=(2,"Python",False,2.5 ,12,15,"Hello")
tup1

(2, 'Python', False, 2.5, 12, 15, 'Hello')

In [31]:
type(tup1)

tuple

In [32]:
tup1[0]

2

In [33]:
tup1[1]

'Python'

In [34]:
tup1[2]

False

In [35]:
len(tup1)

7

In [36]:
# Last element is exlusive
tup1[0:2]

(2, 'Python')

In [37]:
tup1[0:4]

(2, 'Python', False, 2.5)

In [38]:
tup1[1:3]

('Python', False)

In [39]:
tup2= ("Baba jee", 4.3, 20, False)
tup2

('Baba jee', 4.3, 20, False)

In [40]:
tup1+tup2

(2, 'Python', False, 2.5, 12, 15, 'Hello', 'Baba jee', 4.3, 20, False)

In [41]:
tup1*2 +tup2

(2,
 'Python',
 False,
 2.5,
 12,
 15,
 'Hello',
 2,
 'Python',
 False,
 2.5,
 12,
 15,
 'Hello',
 'Baba jee',
 4.3,
 20,
 False)

In [42]:
tup3=(20,40,200,15.5,-19,40)
tup3

(20, 40, 200, 15.5, -19, 40)

In [43]:
min(tup3)

-19

In [44]:
max(tup3)

200

In [45]:
tup3*2

(20, 40, 200, 15.5, -19, 40, 20, 40, 200, 15.5, -19, 40)

### Assignment

In [46]:
# count() methods counts the number of element in tuple 
tup1.count("Python")

1

In [47]:
# Return index of the element
x=tup1.index("Hello")
x

6

## 2- List

In [48]:
list1=[2,20.5, "Usama", "Nadeem", False]
list1

[2, 20.5, 'Usama', 'Nadeem', False]

In [49]:
len(list1)

5

In [50]:
list1+list1

[2, 20.5, 'Usama', 'Nadeem', False, 2, 20.5, 'Usama', 'Nadeem', False]

In [51]:
list1*2

[2, 20.5, 'Usama', 'Nadeem', False, 2, 20.5, 'Usama', 'Nadeem', False]

In [52]:
list1[0]

2

In [53]:
list1[3]

'Nadeem'

In [54]:
list2=["Hello",20,True]
list2

['Hello', 20, True]

In [55]:
list1+list2

[2, 20.5, 'Usama', 'Nadeem', False, 'Hello', 20, True]

In [56]:
list1.reverse()
list1

[False, 'Nadeem', 'Usama', 20.5, 2]

In [57]:
list1.append("Append")
list1

[False, 'Nadeem', 'Usama', 20.5, 2, 'Append']

In [58]:
# list.count funtion done for assignment
list2.count("Hello")

1

In [59]:
list2.count(20)

1

In [60]:
list3=[20,13,24,50,40,100,19,11,5,70]
list3

[20, 13, 24, 50, 40, 100, 19, 11, 5, 70]

In [61]:
len(list3)

10

In [62]:
# Sorting list
list3.sort()
list3

[5, 11, 13, 19, 20, 24, 40, 50, 70, 100]

In [63]:
lists=list1+list2
lists

[False, 'Nadeem', 'Usama', 20.5, 2, 'Append', 'Hello', 20, True]

In [64]:
type(list1)

list

### Assignment

In [65]:
# Remove all elements from list
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
fruits

[]

In [66]:
# Copy the list
fruits = ['apple', 'banana', 'cherry', 'orange']
x=fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

In [67]:
# Adds the specific list to the  current list
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [68]:
# find index of the element
fruits = ['apple', 'banana', 'cherry']
x= fruits.index("cherry")
x

2

In [69]:
# Insert the specified element at specified index
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,"Allu")

fruits

['apple', 'Allu', 'banana', 'cherry']

In [70]:
# Remove the elemnt from the list by index
fruits = ['apple', 'banana', 'cherry']
fruits.pop(0)
# fruits.pop()

'apple'

In [71]:
fruits

['banana', 'cherry']

In [72]:
# Remove the elemnt from the list by element
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
fruits

['apple', 'cherry']

In [73]:
# Reverse the lements of the list
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

## 3- Dictionaries

In [74]:
food1={"samosa": 30, "pakora":100, "naan":15}
food1

{'samosa': 30, 'pakora': 100, 'naan': 15}

In [75]:
# Extract data
key1= food1.keys()
key1

dict_keys(['samosa', 'pakora', 'naan'])

In [76]:
values1= food1.values()
values1

dict_values([30, 100, 15])

In [77]:
type(food1)

dict

In [78]:
# Adding new elements
food1["tikki"]=40
food1

{'samosa': 30, 'pakora': 100, 'naan': 15, 'tikki': 40}

In [79]:
# Upadting elements 1st way
food1["tikki"]=30
food1

{'samosa': 30, 'pakora': 100, 'naan': 15, 'tikki': 30}

In [80]:
food2={"Daal":200, "Roti":10, "chicken": 450, "chawal":70}
food2

{'Daal': 200, 'Roti': 10, 'chicken': 450, 'chawal': 70}

In [81]:
# Upadting elements 2nd way
food2.update({"halwa":20})
food2

{'Daal': 200, 'Roti': 10, 'chicken': 450, 'chawal': 70, 'halwa': 20}

In [82]:
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'naan': 15,
 'tikki': 30,
 'Daal': 200,
 'Roti': 10,
 'chicken': 450,
 'chawal': 70,
 'halwa': 20}

In [83]:
food2

{'Daal': 200, 'Roti': 10, 'chicken': 450, 'chawal': 70, 'halwa': 20}

### Assignment

In [84]:
# Remove all elements from the car list
car={"brand":"ford", "model":"mustang","year":1969}
car.clear()
car

{}

In [85]:
# Copy the car dictionary
car={"brand":"ford", "model":"mustang","year":1969}
x=car.copy()
x

{'brand': 'ford', 'model': 'mustang', 'year': 1969}

In [86]:
# To Create as many keys with specific value 
x = ('key1', 'key2', 'key3',"key4")
y = 2
z= dict.fromkeys(x,y)
z

{'key1': 2, 'key2': 2, 'key3': 2, 'key4': 2}

In [87]:
# Get the value of the specific key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x=car.get("brand")
x

'Ford'

In [88]:
# Return the dictionary's key-value pairs
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "color": "red"
}
x=car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [89]:
# Remove specific key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "color": "red"
}
car.pop("color")
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [90]:
# Remove the last item from the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
car

{'brand': 'Ford', 'model': 'Mustang'}

In [91]:
# The setdefault() method returns the value of the item with the specified key.
# Get the value of the "color" item, if the "color" item does not exist, insert "color" with the value "white"
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x=car.setdefault("color","red")
x

'red'

## 4- Set

In [92]:
set1={"usama", 22.1,10, "Ape", 0,False}
set1

{0, 10, 22.1, 'Ape', 'usama'}

In [93]:
type(set1)

set

In [94]:
set1.add("Usama")
set1

{0, 10, 22.1, 'Ape', 'Usama', 'usama'}

In [95]:
set1.remove("Usama")
set1

{0, 10, 22.1, 'Ape', 'usama'}

### Assignment

In [96]:
# copy() return the copy of set
set2=set1.copy()
set2

{0, 10, 22.1, 'Ape', 'usama'}

In [97]:
# The difference() method returns a set that contains the difference between two sets.
# The returned set contains items that exist only in the first set, and not in both sets.
# so in this case only set x values are returned
x = {"apple", "microsoft", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.difference(y)
z

{'cherry'}

In [98]:
# The difference_update() method removes the items that exist in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

y.difference_update(x)
y

{'google', 'microsoft'}

In [99]:
# The discard() method removes the specified item from the set.
fruits = {"apple", "banana", "cherry"}
fruits.discard("apple")
fruits

{'banana', 'cherry'}

In [100]:
# Return a set that contains the items that exist in both set x, and set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.intersection(y)
z

{'apple'}

In [101]:
# Remove the items that is not present in both x and y
x = {"apple", "banana", "cherry",1}
y = {"google", "microsoft", "apple",1}

x.intersection_update(y)
x

{1, 'apple'}

In [102]:
# Return True if no items in set x is present in set y
x = {"apple", "banana", "cherry",1}
y = {"google", "microsoft", "facebook",1}

z=x.isdisjoint(y)
z

False

In [103]:
# Return True if all items in set x are present in set y
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z=x.issubset(y)
z

True

In [104]:
# Return True if all items set y are present in set x
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z=x.issuperset(y)
z

True

In [105]:
# The pop() method removes a random item from the set.
# This method returns the removed item.

fruits = {"apple", "banana", "cherry","onion","raw"}
fruits.pop()

'raw'

In [ ]:
# Item removed by pop method
fruits

{'apple', 'banana', 'cherry', 'onion'}

In [ ]:
# Remove "banana" from the set
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")

fruits

In [ ]:
# Return a set that contains all items from both sets, except items that are present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.symmetric_difference(y)
z

In [ ]:
# Remove the items that are present in both sets, AND insert the items that is not present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
x

In [ ]:
# Return a set that contains all items from both sets, duplicates are excluded
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.union(y)
z

In [ ]:
# Insert the items from set y into set x
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
x

In [ ]:
# Remove all elements from the fruits set
fruits = {"apple", "banana", "cherry"}
fruits.clear()
fruits